@import "@/assets/variables.scss";

.hero-landing-container {
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

.hero-landing-wrapper {
  width: 100%;
  aspect-ratio: 7/5;
  background-image: url("/rover-landing-background.webp");
  background-size: cover;
  border-radius: 2rem;
}
