@import "@/assets/variables.scss";

.hero-landing-container {
  width: 100%;
  // padding: 2rem;
  box-sizing: border-box;
  background-image: url("/landing-haze.webp");
  background-size: 95%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.hero-landing-wrapper {
  width: 100%;
  aspect-ratio: 7/5;
  background-image: url("/landing-rover.webp");
  background-size: cover;
  position: relative;
  z-index: 2;
  position: relative;
}

.hero-title-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-110%, -100%);
  background-color: rgba(255, 217, 185, 0.025);
  padding: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  backdrop-filter: blur(6px);
  box-shadow: $shadow-v3;
}

.hero-landing-graphic {
  width: 200px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background: linear-gradient(to bottom, $mars-light, $mars, transparent);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(4px);
  box-shadow: 0px -20px 100px $mars-translucent;
  z-index: 1;
}

.hero-landing-dust {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  background: linear-gradient(360deg, $main-background-color, transparent 30%);
}
