@import "@/assets/variables.scss";

.filter-container {
  padding: 20px 0 0 0;
  margin-bottom: 1rem;
  position: relative;
  font-size: 14px;
}

.filter-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.camera-selection-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-right: 20px;
  border-radius: 20px;
  background-color: $light-brown;
  box-shadow: $shadow-v2;
  transition: all 0.25s ease;
  cursor: pointer;
}

.icon-wrapper {
  background-color: $mars-light;
  color: $main-background-color;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  box-shadow: $shadow-v4;
}

.grid {
  box-shadow: $shadow-v1;
}

.camera-title {
  margin-top: -2px;
  text-align: left;
}

.column-selection-wrapper {
  cursor: pointer;
  position: absolute;
  right: 0;
}

.date-selection-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-right: 20px;
  border-radius: 20px;
  background-color: $light-brown;
  box-shadow: $shadow-v2;
  transition: all 0.25s ease;
  cursor: pointer;
}

@media (min-width: 200px) and (max-width: 768px) {
}
