// basic body
$main-background-color: #1c1613;
$main-font-family: "Space Mono", monospace;
$secondary-font-family: "Courier Prime", system-ui;
$main-text-color: rgb(236, 236, 236);
$main-font-size: 1rem;

// colors
$mars: #c1440e;
$mars-light: rgb(255, 106, 0);
$mars-translucent: rgba(193, 68, 14, 0.5);
$mars-transparent: rgba(193, 68, 14, 0.25);
$light-brown: #281f1b;
$light-brown-2: #3d2e28;

// nav settings
$nav-height: 60px;

// content section settings
$max-width: 1050px;

// box shadows
$shadow-v1: 0px 2.3px 2.8px 0px rgba(0, 0, 0, 0.027),
  0px 4.7px 5.5px 0px rgba(0, 0, 0, 0.035),
  0px 7.3px 8.3px 0px rgba(0, 0, 0, 0.04),
  0px 10px 11.2px 0px rgba(0, 0, 0, 0.043),
  0px 13.1px 14.1px 0px rgba(0, 0, 0, 0.043),
  0px 16.7px 17.1px 0px rgba(0, 0, 0, 0.043),
  0px 21.3px 20.3px 0px rgba(0, 0, 0, 0.047),
  0px 27.2px 23.7px 0px rgba(0, 0, 0, 0.047),
  0px 35.4px 27.6px 0px rgba(0, 0, 0, 0.047),
  0px 47.6px 32.3px 0px rgba(0, 0, 0, 0.05),
  0px 67.7px 38.5px 0px rgba(0, 0, 0, 0.055),
  0px 107.7px 48.5px 0px rgba(0, 0, 0, 0.06);

$shadow-v2: 0px 2.3px 2.8px 0px rgba(0, 0, 0, 0.027),
  0px 4.7px 5.5px 0px rgba(0, 0, 0, 0.035),
  0px 7.3px 8.3px 0px rgba(0, 0, 0, 0.04),
  0px 10px 11.2px 0px rgba(0, 0, 0, 0.043),
  0px 13.1px 14.1px 0px rgba(0, 0, 0, 0.043),
  0px 16.7px 17.1px 0px rgba(0, 0, 0, 0.043);

$shadow-v3: inset -4px 2px 2px -1px $mars-transparent,
  rgba(28, 22, 19, 0) 0px 0px 0px, rgba(28, 22, 19, 0.024) 1.1px 1.1px 1px,
  rgba(28, 22, 19, 0.03) 2.2px 2.2px 2.1px,
  rgba(28, 22, 19, 0.035) 3.4px 3.4px 3.3px,
  rgba(28, 22, 19, 0.035) 5px 5px 4.6px, rgba(28, 22, 19, 0.035) 7px 7px 6.3px,
  rgba(28, 22, 19, 0.04) 9.8px 9.8px 8.6px;

$shadow-v4: rgba(0, 0, 0, 0) 0px 0px 0px, rgba(0, 0, 0, 0.024) 1.1px 0px 1px,
  rgba(0, 0, 0, 0.03) 2.2px 0px 2.1px, rgba(0, 0, 0, 0.035) 3.4px 0px 3.3px,
  rgba(0, 0, 0, 0.035) 5px 0px 4.6px, rgba(0, 0, 0, 0.035) 7px 0px 6.3px,
  rgba(0, 0, 0, 0.04) 9.8px 0px 8.6px, rgba(0, 0, 0, 0.04) 14.3px 0px 12px,
  rgba(0, 0, 0, 0.04) 22.1px 0px 17.7px, rgba(0, 0, 0, 0.043) 38.9px 0px 29.7px;

$shadow-v5: rgba(0, 0, 0, 0) 0px 0px 0px, rgba(0, 0, 0, 0.024) 1.1px 1.1px 1px,
  rgba(0, 0, 0, 0.03) 2.2px 2.2px 2.1px, rgba(0, 0, 0, 0.035) 3.4px 3.4px 3.3px,
  rgba(0, 0, 0, 0.035) 5px 5px 4.6px, rgba(0, 0, 0, 0.035) 7px 7px 6.3px,
  rgba(0, 0, 0, 0.04) 9.8px 9.8px 8.6px, rgba(0, 0, 0, 0.04) 14.3px 14.3px 12px,
  rgba(0, 0, 0, 0.04) 22.1px 22.1px 17.7px,
  rgba(0, 0, 0, 0.043) 38.9px 38.9px 29.7px;

// text shadows
$text-shadow-v1: rgba(0, 0, 0, 0) 0px 0px 0px,
  rgba(0, 0, 0, 0.04) 0.2px 0.2px 0px, rgba(0, 0, 0, 0.047) 0.4px 0.4px 0.1px,
  rgba(0, 0, 0, 0.05) 0.8px 0.8px 0.5px, rgba(0, 0, 0, 0.055) 1.6px 1.6px 1.3px,
  rgba(0, 0, 0, 0.06) 3.1px 3.1px 3px, rgba(0, 0, 0, 0.06) 6px 6px 6.5px,
  rgba(0, 0, 0, 0.063) 11.8px 11.8px 13.7px,
  rgba(0, 0, 0, 0.067) 25.8px 25.8px 31.3px,
  -1px -1px 6px rgba(255, 255, 255, 0.145);

// animations
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-25px);
    filter: blur(3px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes loading {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes idleUpDown {
  0% {
    transform: translateY(-6px);
  }
  50% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(-6px);
  }
}

@keyframes sunRise {
  from {
    filter: blur(16px);
    opacity: 0.1;
    width: 200px;
    transform: translate(-50%, -0%);
  }
  to {
    filter: blur(4px);
    opacity: 1;
    width: 250px;
    transform: translate(-50%, -50%);
  }
}

@keyframes sunRiseMobile {
  from {
    filter: blur(16px);
    opacity: 0.1;
    width: 100px;
    transform: translate(-50%, -0%);
  }
  to {
    filter: blur(4px);
    opacity: 1;
    width: 150px;
    transform: translate(-50%, -50%);
  }
}

@keyframes roverRise {
  from {
    filter: blur(4px);
    transform: translateY(-20px);
  }
  to {
    filter: blur(0px);
    transform: translateY(0px);
  }
}

@keyframes logoReveal {
  from {
    filter: blur(6px);
    opacity: 0;
    top: 30%;
  }
  to {
    filter: blur(0px);
    opacity: 1;
    top: 34%;
  }
}

@keyframes logoRevealMobile {
  from {
    filter: blur(6px);
    opacity: 0;
    top: 20%;
  }
  to {
    filter: blur(0px);
    opacity: 1;
    top: 26%;
  }
}
